:host nb-tab {
  padding: 1.25rem;
}

:host /deep/ ng2-st-tbody-edit-delete {
}

$offBlue: rgb(0, 113, 149);
$lightBlue: rgb(51, 141, 170);

:host
  /deep/
  ng2-st-tbody-custom
  a.ng2-smart-action.ng2-smart-action-custom-custom {
  width: 12px;
  height: 12px;
  margin: 26px 10px 15px 20px;
  text-align: center;
  font-size: 1em;
  float: left;
}

:host
  /deep/
  ng2-st-tbody-custom
  a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: $lightBlue;
}
